/* Reset de estilos para remover estilos padrão do navegador */
body, h1, h2, ul, li, a, p, input, button, img {
    margin: 0;
    padding: 0;
}

/* Estilo geral para o corpo do site */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header h1 {
    font-size: 24px;
}

.header .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.header .search-bar button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o conteúdo principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para a lista de vídeos */
.video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.video {
    border: 1px solid #ddd;
    padding: 10px;
}

.video img {
    max-width: 100%;
    height: auto;
}

.video h2 {
    font-size: 18px;
    margin: 10px 0;
}

.video p {
    font-size: 14px;
    color: #888;
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
